:root {
  --color-black: #414644;
  --color-purple: #856ec6;
  --color-blue: #0095f2;
  --color-red: #f33b5c;
  --color-title-black: #181a19;

  --bg-red: #fff2f5;
  --bg-purple: #f6f2ff;
  --bg-blue: #f0f9ff;
  --bg-green: #2ea97d;

  --color-text-gray: #969f9b;
  --color-text-grey: #6d7471;

  --bg-header: #f2faf6;
}
