.wrapper {
  margin-left: 200px;

  
  .app_nav{
    padding: 20px 32px;
  }
}
.app_boards_container {
  flex: 1;
  width: 1249px;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.app_boards {
  width: fit-content;
  padding: 0 26px;
  display: inline-flex;
  gap: 30px;
  height: 100%;
}

